@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat;
<div class="box2">
<h2>Treat Details</h2>
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>

@if(@Model.Flavors.Count == 0)
{
  <p>This treat does not have any flavors added</p>
}
else
{
  <h4>Flavors in this treat:</h4>
  @foreach(var join in Model.Flavors)
  {
    <p>@join.Flavor.Type</p>
  }
}

<p class="home">@Html.ActionLink("Back to treats", "Index")</p>
<p class="home">@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p class="home">@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
</div>