@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<div class="box2">

<h4>Edit this treat: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)

    <input type="submit" value="Save" />
}
<p class="home">@Html.ActionLink("Back to Treats", "Index")</p>
</div>