<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Pierre's Treats</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
  
 <div class="home-buttons">
    <p class="home">@Html.ActionLink("Home", "Index", "Home")</p> 
    <p class="home">@Html.ActionLink("Create an account", "Index", "Account")</p> 
    <p class="home">@Html.ActionLink("See all treats", "Index", "Treats")</p>
    <p class="home">@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
 </div>

    <div class="contain">
        @RenderBody()
    </div>
</body>
</html>