@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor

<div class="box2">
<h2><em>Flavor info</em></h2>
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>

@if(@Model.Treats.Count == 0)
{
  <p>This flavor does not belong to any treats</p>
}
else
{
  <h4>Treats this flavor is in:</h4>
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li>@join.Treat.Type</li>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
     {
      @Html.Hidden("joinId", @join.TreatId)
      <input type="submit" value="Delete"/>
     }
  }
  </ul>
}

<p class="home">@Html.ActionLink("Back to list", "Index")</p>
<p class="home">@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p class="home">@Html.ActionLink("Delete", "Delete", new { id = Model.FlavorId })</p>
</div>